<!DOCTYPE html>
<html lang="{{ site.LanguageCode | default "en" }}">
<head>
	{{- partial "head.html" . }}
</head>
<body>
	<header class="site-header">
		<a class="site-title" href="{{ "/" | relURL }}">{{ site.Title }}</a>
		<nav>
			{{- with site.GetPage "/one-small-thing" }}<a href="{{ .RelPermalink }}">{{ .Title }}</a>{{ end }}
			{{- with site.GetPage "/one-small-thing" }}{{ with .OutputFormats.Get "rss" }}<a href="{{ .RelPermalink }}">RSS</a>{{ end }}{{ end }}
		</nav>
	</header>
	<main>
		{{- block "main" . }}{{ end }}
	</main>
	<footer class="site-footer">
		<a href="mailto:{{ site.Params.email }}">email</a>
		<a href="{{ site.Params.linkedin }}">linkedin</a>
		<a href="{{ site.Params.github }}">github</a>
	</footer>
</body>
</html>
